<table width="100%">
	<div class="dashbox">
		<p class="title">Maven conventions violations</p>
		<p>
  		<span class="big">
    		<%= format_measure('nb-maven-convention-violations', :url => url_for_drilldown('nb-maven-convention-violations')) -%>
  		</span>
		</p>
		<tr>
			<td width="50%">
				<div class="dashbox">
					<p>
						<%= format_measure('nb-formatting-violations') -%> <%= metric('nb-formatting-violations').short_name -%> 
					</p>
					<p>
						<%= format_measure('nb-naming-violations') -%> <%= metric('nb-naming-violations').short_name -%> 
					</p>
				</div>
			</td>
		</tr>
	</div>
</table>